<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FluentMigrator.Abstractions" version="3.2.15" targetFramework="net472" />
  <package id="FluentMigrator.Extensions.SqlServer" version="3.2.15" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Core" version="3.2.15" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SqlServer" version="3.2.15" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SqlServerCe" version="3.2.15" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.1.2" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.29.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment" version="1.0.305" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.0.282" targetFramework="net472" />
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SmoExtended.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="161.46041.41" targetFramework="net472" />
  <package id="MicrosoftSqlServerManagedDTS" version="4.0.12" targetFramework="net472" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net472" />
  <package id="NDbUnit.SqlLite" version="1.6.8.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PreEmptive.Protection.Checks.Attributes" version="2.0.0" targetFramework="net472" />
  <package id="SQLServer.SMO.2016" version="13.0.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.10.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>